<template>
    <nav id="navbar">
        <button v-if="!hide" @click="save">Download</button>
        <button v-if="!hide" @click="quit">Close</button>
        <button @click="hideUI">
            {{ !hide ? "Hide" : "Show" }}
        </button>
    </nav>
</template>

<script>
import { EventBus } from "../event-bus.js";

export default {
    name: "navbar",
    props: {
        hide: {
            type: Boolean
        }
    },
    methods: {
        save() {
            EventBus.$emit("editor_saveFile");
        },
        quit() {
            EventBus.$emit("editor_quitFile");
        },
        hideUI() {
            EventBus.$emit("editor_hideUI");
        }
    }
};
</script>

<style scoped lang="scss">
nav#navbar {
    width: 300px;
    height: auto;

    position: fixed;
    bottom: 20px;
    right: 20px;

    z-index: 999;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    button {
        width: auto;
        height: 25px;

        background-color: white;
        color: gray;

        text-transform: uppercase;
        font-weight: bold;

        padding: 5px 10px;
        margin: 5px 0;

        border: 0;
        border-radius: 20px;
        transition: all 0.2s ease-in-out;

        &:hover {
            cursor: pointer;
            color: #1586f8;
        }

        &:focus {
            outline: none;
        }
    }
}
</style>
