<template>
    <div id="app">
        <header v-if="!uiStatus">
            <button @click="importFile">
                Import a file
                <input type="file" accept="*/*" @change="fileUploaded" />
            </button>

            <button @click="newFile">Make a new file</button>
        </header>
        <navbar :hide="uiStatus" v-if="editor.blob !== null" />
        <MonacoEditor
            v-if="editor.blob !== null"
            @editorDidMount="editorMounted"
            class="editor"
            v-model="editor.code"
            :language="editor.language"
            :options="editor.options"
            theme="vs-dark"
        />
    </div>
</template>

<script>
import { EventBus } from "./event-bus.js";
import MonacoEditor from "vue-monaco";
import Swal from "sweetalert2";
import navbar from "./components/navbar";

/*
 * Thanks To @trey-miller
 * At : https://github.com/microsoft/monaco-editor-webpack-plugin/issues/32#issuecomment-475319603
 * */
const publicPath = process.env.BASE_URL;
function getWorkerUrl(workerId, label) {
    switch (label) {
        case "json":
            return publicPath + "json.worker.js";
        case "css":
            return publicPath + "css.worker.js";
        case "less":
            return publicPath + "css.worker.js";
        case "scss":
            return publicPath + "css.worker.js";
        case "html":
            return publicPath + "html.worker.js";
        case "handlebars":
        case "razor":
            return publicPath + "html.worker.js";
        case "javascript":
            return publicPath + "typescript.worker.js";
        case "typescript":
            return publicPath + "typescript.worker.js";
        default:
            return publicPath + "editor.worker.js";
    }
}

window.MonacoEnvironment = {
    getWorkerUrl: function(workerId, label) {
        const url = getWorkerUrl(workerId, label);
        return `data:text/javascript;charset=utf-8,${encodeURIComponent(`
                    self.MonacoEnvironment = {
                      baseUrl: '${publicPath}'
                    };
                    importScripts('${url}');`)}`;
    }
};

export default {
    name: "App",
    title: "Simple Code Editor - By @Zaekof",
    components: {
        MonacoEditor,
        navbar
    },
    data() {
        return {
            uiStatus: false,
            pressedKey: new Set(),
            editor: {
                instance: null,
                language: null,
                options: {
                    lineNumbers: true,
                    autoClosingBrackets: true,
                    autoClosingQuotes: true
                },
                code: "",
                blob: null,
                content: null,
                name: null,
                size: null,
                mime: null
            }
        };
    },
    methods: {
        /*
         * When editor is fully mounted, save the instance
         * */
        editorMounted(editor) {
            this.editor.instance = editor;
        },

        /*
         * Return file metadata
         * */
        getFileMetadata(blob) {
            const name =
                blob.name ||
                this.storeEditor.location
                    .split("/")
                    .pop()
                    .trim();
            let type = blob.type;
            const size = blob.size;

            if (!type || type.length !== 0) {
                // Si il y a un un point "." devant le nom du fichier, comme ".gitignore"
                if (name.indexOf(".") !== -1 && name.indexOf(".") !== 0) {
                    let fileExt = name.split(".")[1];
                    if (fileExt) {
                        switch (fileExt) {
                            case "php":
                                type = "php";
                                break;
                            case "js":
                                type = "javascript";
                                break;
                            case "rs":
                                type = "rust";
                                break;
                            case "md":
                                type = "markdown";
                                break;
                            case "py":
                                type = "python";
                                break;
                            case "vue":
                                type = "vue";
                                break;
                            case "json":
                                type = "json";
                                break;
                            default:
                                break;
                        }
                    }
                }
            }

            return { name, type, size };
        },

        importFile(evt) {
            const target = evt.target;
            switch (target.nodeName) {
                case "BUTTON":
                    target.children[0].click();
                    break;
                default:
                    break;
            }
        },

        async newFile() {
            let { value: fileName } = await Swal.fire({
                title: "Make a new file",
                text: "Please, specify the file extension.",
                input: "text",
                icon: "question",
                inputPlaceholder: "file.js",
                showCancelButton: true,
                showCloseButton: true,
                confirmButtonText: "Create my beautiful file!",
                allowOutsideClick: false
            });
            if (fileName) {
                fileName = fileName.trim();
                if (fileName.indexOf(".") !== -1) {
                    const fileExt = fileName
                        .split(".")
                        .pop()
                        .trim()
                        .toLowerCase();

                    let language;
                    let mime;
                    switch (fileExt) {
                        case "js":
                            language = "javascript";
                            mime = "text/javascript";
                            break;
                        case "php":
                            language = "php";
                            mime = "application/x-php";
                            break;
                        case "rs":
                            language = "rust";
                            mime = "text/rust";
                            break;
                        case "json":
                            language = "json";
                            mime = "application/json";
                            break;
                        case "md":
                            language = "markdown";
                            mime = "text/markdown";
                            break;
                        case "html":
                            language = "html";
                            mime = "text/html";
                            break;
                        case "py":
                            language = "python";
                            mime = "text/python";
                            break;
                        default:
                            language = "plain";
                            mime = "text/plain";
                            break;
                    }

                    this.editor.language = language;
                    this.editor.code = "";
                    this.editor.content = "";
                    this.editor.name = fileName;
                    this.editor.size = 0;
                    this.editor.mime = mime;
                    this.editor.blob = this.codeToBlob();

                    console.log(this.editor);
                } else {
                    await this.newFile();
                }
            }
        },

        /*
         * Return decoded B64 file content
         * */
        getB64Content() {
            return decodeURIComponent(escape(atob(this.editor.content)));
        },

        /*
         * When file is fully loaded and editor is ready
         * */
        fileIsFullyLoaded() {
            this.editor.code = this.getB64Content();
            console.log(this.editor);
        },

        /*
         * When we have a file content,
         * Set editor mime type and editor content
         * */
        setFileContent(evt) {
            const fileRowContent = evt.target.result;
            const fileSplited = fileRowContent.split(",");
            this.editor.mime = fileSplited[0].split(":")[1].split(";")[0];
            this.editor.content = fileSplited[1];

            // Ok, file is fully loaded!
            this.fileIsFullyLoaded();
        },

        /*
         * when file is upload on editor
         * */
        fileUploaded(evt) {
            const files = evt.target.files;
            const file = files.item(0);

            const fileMetaData = this.getFileMetadata(file);

            this.editor.name = fileMetaData.name;
            this.editor.size = fileMetaData.size;
            this.editor.blob = file;
            this.editor.language = fileMetaData.type.indexOf("/") !== -1 ? fileMetaData.type.split("/")[1] : fileMetaData.type;

            // Read file content
            const reader = new FileReader();
            reader.addEventListener("load", this.setFileContent);
            reader.readAsDataURL(file);
        },

        /*
         * Create a Blob with editor code content and file mime type
         * */
        codeToBlob() {
            return new Blob([this.editor.code], { type: this.editor.mime });
        },

        /*
         * Download a editing file
         * */
        downloadFile() {
            this.pressedKey = new Set();
            const blob = this.codeToBlob();

            const aElement = document.createElement("a");
            const url = URL.createObjectURL(blob);

            aElement.style.display = "none";
            document.body.appendChild(aElement);
            aElement.href = url;
            aElement.download = this.editor.name;
            aElement.click();

            // Remove a and url element in DOM
            URL.revokeObjectURL(url);
            document.body.removeChild(aElement);
        },

        /*
         * Reset all editor object keys
         * */
        resetEditor() {
            this.editor.language = null;
            this.editor.code = "";
            this.editor.blob = null;
            this.editor.content = null;
            this.editor.name = null;
            this.editor.size = null;
            this.editor.mime = null;
        },

        /*
         * Toggle display buttons and inputs on overlay
         * */
        hideUI() {
            this.uiStatus = !this.uiStatus;
        },

        /*
         * On keyDown and on keyUp
         * */
        onKeyDown(evt) {
            const keyName = evt.code;

            switch (keyName) {
                case "ControlLeft":
                    this.pressedKey.add("ctrl");
                    break;
                case "KeyS":
                    this.pressedKey.add("s");
                    break;
                default:
                    return;
            }

            // Les touches ctrl+s sont pressés ?
            if (this.pressedKey.has("ctrl") && this.pressedKey.has("s") && this.editor.code !== "") {
                this.downloadFile();
            }
            evt.preventDefault();
        },
        onKeyUp(evt) {
            const keyName = evt.code;

            switch (keyName) {
                case "ControlLeft":
                    this.pressedKey.delete("ctrl");
                    break;
                case "KeyS":
                    this.pressedKey.delete("s");
                    break;
                default:
                    break;
            }
        }
    },
    mounted() {
        /*
         * Child components events
         * */
        EventBus.$on("editor_saveFile", this.downloadFile);
        EventBus.$on("editor_quitFile", this.resetEditor);
        EventBus.$on("editor_hideUI", this.hideUI);

        window.addEventListener("keydown", this.onKeyDown);
        window.addEventListener("keyup", this.onKeyUp);
    },
    created() {
        document.title = this.$options.title;
    }
};
</script>

<style lang="scss">
.swal2-container {
    &,
    * {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

body {
    margin: 0;
    padding: 0;

    background-color: #1e1e1e;

    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        overflow: hidden;

        header {
            button {
                position: absolute;
                top: 20px;
                right: 60px;

                background-color: transparent;
                padding-right: 15px;

                color: white;

                cursor: pointer;
                outline: 0;

                z-index: 2;

                border: 0;
                border-right: 3px solid red;

                input {
                    display: none;
                }

                &:last-of-type {
                    top: 50px;
                }
            }
        }

        .editor {
            width: 100vw;
            height: 100vh;
        }
    }
}
</style>
